body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: white;
  overflow-x: hidden;
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

.glow-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(63, 81, 181, 0.4) 0%, transparent 10%);
  filter: blur(80px);
  opacity: 1;
  z-index: 0;
}

header {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
}

.menu-btn {
  display: none;
  background: #5c3364;
  color: white;
  border: none;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.left-panel {
  width: 220px;
  background: linear-gradient(#121213, #504c58);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: transform 0.4s ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.left-panel.hidden {
  transform: translateX(-250px);
}

.top-box {
  width: 100%;
  height: auto;
  background: linear-gradient(#46434e, #1e1e1e);
  border-radius: 10px;
}

.top-box-in{
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-box-in img {
  width: 150px;
  height: 50px;
  z-index: 2;
}

.left-panel-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: linear-gradient(90deg, #616161 0%, #46434e 100%);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.left-panel-button.active {
  background: #46434e;
  box-shadow: 0 0 10px rgba(154, 98, 187, 0.6);
}

.left-panel-button:hover {
  background: #46434e;
}

#show-all-btn {
  background: linear-gradient(90deg, #5a4e7a 0%, #46434e 100%);
}

#show-all-btn:hover {
  background-color: #1c1b1f;
}

.in-button{
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 3%;
  background: linear-gradient(180deg, #1d095800 0%, #373349 100%);
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.in-button:hover{
  background: linear-gradient(90deg, #65626e 0%, #1e1e1e00 100%);
}

.right-section {
  flex: 1;
  overflow-y: auto;
  padding: 40px;
}

.catalog-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 25px;
}

#search-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #2a2a2a;
  color: #fff;
  font-size: 16px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.game-card {
  background: #1f1f1f;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.game-info {
  padding: 15px;
}

.tag {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 13px;
  margin: 5px 0 10px 0;
}

.tag.aventura { background: #ff4a4a; }
.tag.terror { background: #5ac4d1; }
.tag.cozy { background: #63ff8a; }

.view-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #9a7db3 0%, #1e1444 100%);
  color: white;
  cursor: pointer;
  font-size: 15px;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .left-panel {
    position: fixed;
    transform: translateX(-260px);
    z-index: 999;
    height: 100vh;
    left: 0;
    top: 0;
  }

  .left-panel.show {
    transform: translateX(0);
  }
}


.login-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 5;
  background: transparent;
}

#login-btn {
  width: 100%;
  max-width: 180px;
  background: linear-gradient(90deg, #9a7db3 0%, #1e1444 100%);
  z-index: 6;
  transition: transform 0.2s;
}

#login-btn:hover{
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal.active {
  display: flex;
  animation: fadeIn 0.3s ease forwards;
}

.modal-content {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  width: 300px;
  color: #fff;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  background: #2a2a2a;
  color: #fff;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.modal-actions button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #62439b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.modal-actions button:hover {
  background: #372757;
}

#dev-btn{
  background: linear-gradient(90deg, #9a7db3 0%, #1e1444 100%);
  border: none;
  padding: 14px 28px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

#dev-btn:hover{
  transform: scale(1.05);
}

a{
  width: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
